/* colore titoli main #23272a
colore etichetta in fondo al main #8ea1e1
colore titoli footer #697ec6 */

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
body{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    min-width: 2000px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
}
h2{
    font-size: 50px;
}
p{
    font-size: smaller;
    padding-top: 20px;
    line-height: 35px;
}

/* Header */
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #3161e0;
}
nav .logo{
    width: 15%;
}
nav .logo, nav .navbar, nav #accedi{
    float: left;
}
nav .logo img{
    vertical-align: middle;
}
nav .navbar{
    list-style-type: none;
    width: 70%;
    text-align: center;
}
nav .navbar li{
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
nav #accedi{
    width: 15%;
    text-align: center;
}
#accedi .btn{
    padding: 10px 14px;
    background-color: #fff;
    font-size: 14px;
    color: #23272a;
    display: inline;
}

/* Main */
#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 830px;
}
#jumbotron .container{
    text-align: center;
    max-width: 1130px;
}
#jumbotron .container h1{
    padding-top: 60px;
    font-size: 80px;
    color: white;
}
#jumbotron .container p{
    padding-top: 40px;
    line-height: 40px;
    color: white;
}
#scarica{
    margin-top: 100px;
    display: inline-block;
}
#scarica .btn{
    padding: 16px 32px;
    background-color: #fff;
    color: #23272a;
}
#apri{
    
    margin-left: 60px;
    display: inline-block;
}
#apri .btn{
    background-color: #23272a;
    color: #fff;
}
.wave-top{
    color: rgb(226, 224, 224);
    margin-bottom: -8px;
}
.wave-bottom{
    color: rgb(226, 224, 224);
    transform: rotate(180deg);
}
.image-left{
    min-height: 830px;
}
.image-left div img{
    float: left;
    width: 60%;
    height: 600px;
    padding-top: 100px;
    padding-left:100px;
}
.text-left{
    float: left;
    width: 40%;
    text-align: left;
    padding: 140px 180px;
}
.center{
    background-color: rgb(226, 224, 224);
}
.image-right{
    min-height: 830px;
}
.image-right div img{
    float: left;
    width: 60%;
    height: 700px;
    
}
.text-right{
    float: left;
    width: 40%;
    text-align: left;
    padding: 140px 140px;
}
.sec-bottom{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    min-height: 1300px;
}
#title{
    text-align: center;
    padding: 100px 200px;
}
.image-bottom{
    text-align: center;
}
.image-bottom div img{
    height: 600px;
    width: 100%;
    margin: 0 auto;
}
#stars{
    font-size: 50px;
    text-align: center;
}
#stars img{
    width: 50%;
    margin: 0 auto;
    height: 100%;
}
#btn-bottom{
    padding-top: 50px;
}

/* Footer */
.foot{
    background-color: black;
}
.foot-help{
    width: 100%;
    height: 700px;
    min-width: 2100px;
    border-bottom: 1px solid #8ea1e1;
}
.foot-head{
    width: 25%;
    padding-bottom: 100px;
} 
.fa-angle-down, .fa-twitter, .fa-instagram, .fa-facebook, .fa-youtube{
    color: white;
    padding: 0 10px;
}
.foot-deco{
    display: inline-block;
    padding: 50px 30px;
    text-align: left;
    color: white;
    vertical-align: top;
}
.foot-deco h3, .foot-deco h4{
    color: #8ea1e1;
}
.foot-deco h3{
    font-size: 50px;
}
.foot-deco h4{
    font-size: 30px;
}
.foot-deco ul{
    list-style-type: none;
}
.foot-lang{
    display: inline-block;
    text-align: left;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot-lang p{
    display: inline-block;
    padding: 0 5px;
}
.foot-nav{
    height: 100px;
    line-height: 100px;
}
.foot-nav .logo{
    width: 90%;
}
#scarica-ora a{
    display: inline-block;
    color: white;
}